*.o
*~
/.gitmodules
/beetle*.tar.gz
Makefile
Makefile.in
TAGS
/dissertation
/INSTALL
/README.dg
/aclocal.m4
/ar-lib
/autom4te.cache
/build-aux
/compile
/config.log
/config.status
/configure
/install-sh
/missing
/depcomp
/gnulib
/lib
/test-driver
