*.o
*~
/beetle*.tar.gz
Makefile
Makefile.in
TAGS
/dissertation
/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/install-sh
/libtool
/missing
/depcomp
/lib
/stamp-h1
/test-driver
