*.log
*.trs
/.deps
/.libs
/hello.obj
/hello.output
/arithmetic
/branch
/comparison
/doloop
/exceptions
/init
/lib
/link
/literals
/load_object
/logic
/memory
/registers
/run
/single_step
/stack
/_Noreturn.h
/arg-nonnull.h
/c++defs.h
/dummy.c
/warn-on-use.h
