/.deps
/.libs
*.lo
/libbeetle.la
/beetle
/beetlei
/beetle.1
/beetlei.1
/tbl_opts.h
/private.h
/public.h
/beetle.h
/aux.h
/beetle_aux.h
/debug.h
/beetle_debug.h
/opcodes.h
/beetle_opcodes.h
/completions
/debug.h
/step.c
/external-defines.txt
/external-syms.txt
/external_syms.h
