/.deps
/.libs
*.lo
/libbeetle.la
/beetle
/beetlei
/beetle.1
/tbl_opts.h
/beetle.h
/beetle_aux.h
/beetle_debug.h
/beetle_opcodes.h
/completions
/external-defines.txt
/external-syms.txt
/external_syms.h
